<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="#" class = "logo">BookLet</a>
        <ul>
            <li><a class = "navBar" href = "/">Home</a></li>
            <li><a class = "navBar" href = "/about.html">About</a></li>
            <li><a class = "navBar" href = "/register.html">Register</a></li>
        </ul>
    </nav>
</body>
</html>