<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="book.js" defer></script>
    <link rel="stylesheet" href="book.css">
</head>
<body>
    <nav>
        <a href="#" class = "logo">BookLet</a>
            <input type="text" id="bookInfo" placeholder="Search books">
            <button id = "find"><a href="/book.html"></a>&#128269;</button>
    
        <ul>
            <li><a class = "navBar" href = "/">Home</a></li>
            <li><a class = "navBar" href = "/about.html">About</a></li>
            <li><a class = "navBar" href = "/register.html">Register</a></li>
        </ul>
        </nav>
    <div id="output"></div>
</body>
</html>