<div>
    <img src="https://static.vecteezy.com/system/resources/thumbnails/006/549/647/small_2x/404-landing-page-free-vector.jpg" alt="404 error image">
    <h1>PAGE NOT FOUND</h1>
    <p>The page you were looking for doesn't exist</p>
    <button class="goBack"><a href="/">GO TO HOMEPAGE</a></button>
</div>