<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="error.css">
</head>
<body>
    <nav>
        <a href="#" class = "logo">BookLet</a>
            <input type="text" id="bookInfo" placeholder="Search books">
            <button id = "find"><a href="/book.html"></a>&#128269;</button>
    
        <ul>
            <li><a class = "navBar" href = "/">Home</a></li>
            <li><a class = "navBar" href = "/about.html">About</a></li>
            <li><a class = "navBar" href = "/register.html">Register</a></li>
        </ul>
        </nav>
    <div>
        <img src="https://static.vecteezy.com/system/resources/thumbnails/006/549/647/small_2x/404-landing-page-free-vector.jpg" alt="404 error image">
        <h1>PAGE NOT FOUND</h1>
        <p>The page you were looking for doesn't exist</p>
        <button class="goBack">GO TO HOMEPAGE</button>
    </div>
</body>
</html>