<section class = "heading">
        <img src="https://i.pinimg.com/736x/e2/96/18/e29618c03d3754aeb6ecf282c5c4d479.jpg" alt="a group of people reading book">
        <div>
            <h1>WELCOME TO BOOK STORE</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse mollitia rerum dolorem exercitationem, nesciunt illo voluptates sint debitis quaerat enim neque, sit libero? Numquam doloribus iure consectetur placeat sapiente. Eum, repudiandae aut? Sit, animi. Quibusdam illum impedit adipisci quo rem iure dolores accusamus, alias ab totam eveniet ipsam in odit hic, tempora similique veniam sint officiis aliquid dolore voluptate cupiditate. Aliquam aliquid deleniti corporis ipsam in nostrum reprehenderit amet, a accusamus iure eum ad voluptate odio dignissimos? Exercitationem, molestias ipsam?</p>
            <button class= "explore">Explore</button>
        </div>
</section>
<section class = "category">
    <h2>Popular Category</h2>
    <div id = "genres">
        <button class="genre-btn">
            <image src = "https://icon-library.com/images/black-heart-icon-png/black-heart-icon-png-15.jpg" alt = "book with a heart icon">
            <p>Romance</p>
        </button>

        <button class="genre-btn">
            <image src = "https://cdn.icon-icons.com/icons2/3584/PNG/512/mystery_genre_category_gaming_game_icon_225944.png" alt = "mystery icon">
            <p>Mystery</p>
        </button>
        <button class="genre-btn">
            <image src = "https://icons.veryicon.com/png/System/iOS7%20Minimal/Movie%20Genres%20Comedy.png" alt = "drama mask smiling icon"></image>
            <p>Comedy</p>
        </button>
    </div>
</section>