<section class="create">
    <div class="header">
        <h2 class="logIn">Log In</h2>
        <h3><a href="/register">Create an Account</a></h3>
    </div>
    <form action="/">
        <input type="text" id = "username" name = "name" placeholder = "Username" required>
        <br>
        <input type="password" id = "password" name = "pass" placeholder="Password" required>
        <br>
        <button id = "create">Log In</button>
    </form>
</section>