<section class="create">
    <div class="header">
        <h2 class="register">Create an Account</h2>
        <h3><a href="/logIn">Log In</a></h3>
    </div>
    <form action="/" method="post">
        <input type="text" id = "username" name = "name" placeholder = "Username" required>
        <br>
        <input type="password" id = "password" name = "pass" placeholder="Password" required>
        <p>6 character minimum, case-sensitive</p>
        <br>
        <input type="password" id = "checkPass" name = "checkPass" placeholder="Confirm Password" required>
        <br>
        <button id = "create">Create Account</button>
    </form>
</section>