.container{
    width: 40%;
    margin:1rem;
    text-align: center;
}
#output{
    display: flex;
    flex-wrap: wrap;
}
#output>*{
    flex: 1 1 160px;
}
.bookCover{
    width: 15rem;
    height: 25rem
}