div{
    width: 50%;
    margin: 4rem auto;
    text-align: center;
}
img{
    width: 100%;
}
h1{
    margin: 2rem 0;
    font-size: 3.5rem;
}
p{
    font-size: 2rem;
}
.goBack{
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    background-color: #feb640;
}
.goBack:hover{
    cursor: pointer;
    background-color: #fd9d03;
    font-weight: 900;
}