.create{
    border: 0.5px grey solid;
    width: 25%;
    margin: 2rem auto;
}

.header{
    display: flex;
}
.header h2{
    margin: 1.5rem 0 1rem 1rem;
    font-size: 1.75rem;
    width: 20rem;
}
.header h3 {
    justify-content: flex-end;
    text-align: end;
    margin: 2rem 0 1rem 1rem;
    cursor: pointer;
}
form{
    margin: 0 auto;
    text-align: center;
}
input{
    border: 0.5px grey solid;
    margin: 0 auto;
    width: 90%;
    height: 3rem;
    margin: 1rem 0;
    border-radius: 5px;
    font-size: 1rem;
    padding-left: 1rem;
}
form p {
    margin: -0.5rem 0 -1rem 1rem;
    font-weight: 600;
    width: 60%;
    /* border: 1px black solid; */
}
form button {
    width: 60%;
    height: 3rem;
    margin: 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #feb640;
}
form button:hover{
    cursor: pointer;
    background-color: #fd9d03;
    font-weight: 900;
}