*{
    padding: 0;
    border: border-box;
    margin: 0;
}
nav {
    display: flex;
    background-color: #ffdf7c;
    align-items: center;
}
ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}
li{
    list-style-type: none;
    padding: 1rem 4rem;
    font-size: 1.5rem;
}
ul li:hover{
    font-weight: 900;
}
a{
    text-decoration: none;
}
.logo{
    padding-left: 1rem;
    font-size: 2.5rem;
    width: 20%;
}
.create{
    border: 0.5px grey solid;
    width: 25%;
    margin: 2rem auto;
}
.create h2{
    margin: 1.5rem 0 1rem 1rem;
    font-size: 1.75rem;
}
form{
    margin: 0 auto;
    text-align: center;
}
input::placeholder{
    font-size: 1rem;
}
input{
    border: 0.5px grey solid;
    margin: 0 auto;
    width: 90%;
    height: 3rem;
    margin: 1rem 0;
    border-radius: 5px;
    font-size: 1rem;
    padding-left: 1rem;
}
form p {
    margin: -0.5rem 0 -1rem 1rem;
    font-weight: 600;
    width: 60%;
    /* border: 1px black solid; */
}
form button {
    width: 60%;
    height: 3rem;
    margin: 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #feb640;
}
form button:hover{
    cursor: pointer;
    background-color: #fd9d03;
    font-weight: 900;
}